
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;700&display=swap');

html{
    font-size: 62.5%; /*1rem = 10px*/
    line-height: 1.5;
    font-weight: 300;
    font-family: 'Noto Sans', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
.Encabezado{
    background-color: rgb(53, 58, 64);
    display: flex;
    flex-direction: column;
}
.isologo{
    height: 100px;
}
.Tsuperior{
    color: white;
    font-size: 3rem;
    font-weight: 400;
    line-height: 0;
    margin-bottom: 30px;
}
.listas{
    width:100%;
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
    & li{
        margin: 10px 0 15px 0;
        &:active{
            padding: 10px;
        }
    }
}
.TextoBlanco{
    color: white;
}
.TextoGris{
    color: darkgray;
}
.TextoVerde{
    color: rgb(0, 128, 0);
}
.conferencia{
    background: linear-gradient(to right, #00000085, #00000085), url(../assets/img/hawaii.jpg);
    background-position: center;
    height: fit-content;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 5% 5% 5%;
    font-size: 1.7rem;
    font-weight: 400; 
    & h2{
        font-size: 3rem;
        font-weight: 500;    
    }
    & p{
        margin-bottom: 15px;
    }
    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.boton{
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    width: fit-content;
    padding: 10px 16px;
    margin: 15px;
    &:active{
        padding-left: 18px;
        padding-right: 14px;
        background-color: #ffffff30;
    }
}
.verde{
    border-color: #29a744;
    background-color: #29a744;
    &:active{
        background-color: #44cc61;
    }
}
.oradores{
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.Separador{
    font-size: 1.8rem;
    font-weight: 300;
    width: 100%;
    margin-bottom: 15px;
    & div{
        font-size: 4rem;
        font-weight: 500;  
    }
}
.tarjeta{
    background-color: white;
    border-radius: 5px;
    height: fit-content;
    max-width: 373px;
    margin: 15px 1px;
    border: 1px solid lightgrey;
    & div{
        padding: 0 5px 0 20px;
    }
    & img{
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 5px 5px 0px 0px;
    }
    .pastillas{
        display: flex;
        padding: 0;
    }
    & h4{                                   /*Temas de charla*/   
        margin: 20px 5px 0px 0;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1px 5px;
        border-radius: 5px;        
    }
    & h3{                                   /*Nombres*/
        font-size: 2.3rem;
        font-weight: 500;
        padding-bottom: 15px; 
        text-align: left;
    }
    & p{                                    /*Descripci贸n*/
        font-size: 1.5rem;
        font-weight: 300;
        line-height:2;
        text-align: left;
    }
}
.fondorojo{
    color: white;
    background-color: rgb(219, 54, 68);
}
.fondoamarillo{
    background-color: rgb(254, 193, 7);
}
.fondogris{
    color: white;
    background-color: rgb(107, 116, 125);
}
.fondocyan{
    color: white;
    background-color: rgb(23, 162, 185);
}
.lugarfecha{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #00000085, #00000085), url(../assets/img/honolulu.jpg);
    background-position: center;
    font-size: 1.5rem;
    padding-bottom: 15px;
    & img{
        width: 0;
    }
    & h2{
        font-size: 2.5rem; 
    }
    .textolf{
        padding: 15px;
        color: white;
        & p{
            text-align: left;
            max-width: 620px;
            line-height: 2;
            padding-bottom: 20px;
        }

    }
}
.convierteteenorador{
    padding-top: 15px;
    height: fit-content;
    font-size: 1.5rem;
    font-weight: 400;
    & a{
        color: black;
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }
}
.formulario{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.nya{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}
.celdanya{
    width: 90vw;
    max-width: 750px;
    margin: 10px 0;
    height: calc(1em + 20px);
    font-size: 1.7rem;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.celdatxt{
    width: 90vw;
    max-width: 750px;
    height: 150px;
    font-family: 'Noto Sans', sans-serif;
    padding: 15px 20px;
    font-size: 2rem;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.textoform{
    font-size: 1.5rem;
    font-weight: 200;
}
.botonenviar{
    border-radius: 5px;
    border-color: transparent;
    background-color: #96c93e;
    color: white;
    margin: 20px 0;
    height: calc(1rem + 35px);
    font-size: 2rem;
    width: 90vw;
    max-width: 750px;
    &:hover{
        cursor: pointer;
    }
    &:active{
        padding-left: 18px;
        padding-right: 14px;
        background-color: #b6f748;
    }
}
.publicidad{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.videopublicidad{
    width: 100vw;
    max-width: 560px;
    height:315px;
}
.pie{
    background-image: linear-gradient(to right, #1c3643, #1c3d4e, #1d445a, #1d4c66, #1e5372);
    height: fit-content;
    bottom: 0px;
    width: 100%;
}
.TextoPie{
    font-size: 1.5rem;
    font-weight: 400;
}
.secci贸n404{
    font-size: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
}
.img404{
    background: url(../assets/img/ezgif-1-72f03d78b0.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vw / 13 * 10);
    max-height: 604px;
    width: 100%;
    max-width: 780px;
}
@media (min-width: 344px) {
    .isologoytexto{
        display:flex;
    }
    .Tsuperior{
        line-height: 104px;
        margin: 0px;
    }
    .listas{
        font-size: 2.3rem;
    }
    .conferencia{
        font-size: 2rem;
        & h2{
            font-size: 3.5rem;
        }
    }
    .TextoPie{
        font-size: 1.7rem;
    }    
}
@media (min-width: 581px) {
    .tarjeta{
        height: 650px;
    }
}
@media (min-width: 700px) {
    .listas{
        font-size: 2rem;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & li{
            margin: 0px 20px;
            }
    }
    .pie{
        height: 70px;
        display: flex;
        align-items: center;
    }
    .TextoPie{
        display: flex;
        font-size: 1rem;
    }
    .secci贸n404{
        font-size: 3rem;
        width: 100%;
        min-height: 78.8vh;
        justify-content: center;
    }
}
@media (min-width: 1020px) {
    *{
        text-align: left;
    }
    .Encabezado{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & nav{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .isologoytexto{
        display: flex;
        flex-direction: row;
    }
    .listas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        & li{
            margin: 0 10px;
            min-width: 120px;
            &:active{
                padding: 10px;
            }
        }
    }
    .conferencia{
        align-items: end;
        padding: 16% 10% 7.5% 0;
        font-size: 2.5rem;
        & h2{
            font-size: 4rem;
        }
        & p{
            text-align: right;
            width: 850px;
        }
        & div{
            display: flex;
            flex-direction: row;
        }    
    }
    .boton{
        margin: 15px 15px 15px 0;
    }
    .verde{
        margin: 15px 0px 15px 0;
    }
    .oradores{
        padding: 15px 0px;
        text-align: center;
    }
    .Separador{
        text-align: center;
        margin: 0;
        & div{
            text-align: center;
        }
    }
    .tarjeta{
        max-width: 22.4%;
        min-width: 373px;
        margin: 0 1px 30px 1px;
        &:hover{
            box-shadow: 3px 2px 2px #00000050;
        }
    }
    .lugarfecha{
        justify-content: left;
        background: none;
        background-color: rgb(53, 58, 64);
        padding-bottom: 0px;
        & img{
            width: 50%;
            border-right: 1px solid white;
        }
        .textolf{
            border-left: 1px solid white;
            & p{
                padding-bottom: 25px;
                max-width: none;
            }
    
        }
    }
    .convierteteenorador{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.7rem;
    }
    .formulario{
        width: 750px;
    }
    .nya{
        justify-content: space-between;
        padding: 10px 0 0 0;
    }
    .celdanya{
        width: 360px;
        margin: 0;
        padding-left: 10px;
    }
    .celdatxt{
        font-size: 2.5rem;
        padding: 10px 20px;
        width: 100%;
        margin-top: 15px;
    }
    .botonenviar{
        text-align: center;
        margin: 25px 0 20px 0;
        width: 100%;
    }
    .pie{
        display: flex;
        align-items: center;
        padding: 0px 11%;
        height: 100px;
    }
    .TextoPie{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 1.7rem;
        width: 10ch;
        height: 2ch;
    }
    .secci贸n404{
        font-size: 4rem;
        justify-content: center;
    }
    .img404{
        background: url(../assets/img/ezgif-1-72f03d78b0.gif);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vw / 13 * 10);
    }
}
@media (min-width: 1250px) {
    .oradores{
        min-width: 1130px;
    }
    .tarjeta{
        margin: 10px 15px 30px 15px;
    }
}